<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All Shows</h2>
    <table>
        {% for show in shows %}
        <td>
            {{show.id}}
        </td>
        <td>
            {{show.title}}
        </td>
        <td>
            {{show.network}}
        </td>
        <td>
            <input name="release_date" type="date" value='{{show.release_date|date:"Y-m-d"}}'>
            {{show.release_date|date:"Y-m-d"}} <!--Filter to Specify date format-->
        </td>
        {% endfor %}
    </table>
</body>
</html>